<div class="container-fluid">
  <div class="card">
    <div class="card-header pb-0">
      <div class="row">
        <div class="col-lg-6">
          <h3><i class="fas fa-chair"></i> Servicio de Peluquería</h3>
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-4">
            <h5 class="border-bottom pb-2">
              <i class="fas fa-calendar-day"></i> Agendar una cita
            </h5>
            <div class="container">
              <div class="form-group">
                  <label for="exampleFormControlSelect1" class="mb-1 ml-1">Seleccionar Sucursal</label>
                  <select class="form-control" id="exampleFormControlSelect1" name="idsucursal"
                      [(ngModel)]="solicitudCreate.IDSUCURSAL">
                      <option *ngFor="let x of sucursales" value="{{x.IDSUCURSAL}}">{{x.SUCURSAL}}</option>
                  </select>
              </div>
              <div class="form-groupmt-2">
                  <label for="exampleFormControlSelect1" class="mb-1 ml-1">Seleccionar Día</label>
                  <select class="form-control" id="exampleFormControlSelect1" name="fecha"
                      [(ngModel)]="fechaSeleccionada" (change)="mostrarTurnos()">
                      <option *ngFor="let x of diasDisponibles"
                          value="{{x.dia + '#' + x.nombre + '#' + x.mes + '#' + x.anio}}">
                          {{x.nombre + ' '+ x.dia + ' de ' + x.mes + ' del ' + x.anio}}
                      </option>
                  </select>
              </div>
              <br>
              <table class="table table-bordered table-sm" *ngIf="turnosShow == true">
                  <thead>
                      <tr>
                          <th scope="col" class="text-center">Turnos disponibles</th>
                          <th scope="col"></th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let x of horariosDeServicio">
                          <td class="text-center">{{x.HORARIO}}</td>
                          <td class="text-center">
                              <button class="btn btn-outline-primary btn-sm"
                                  (click)="seleccionar(x.HORARIO, x.IDHORARIO)">
                                  Seleccionar
                              </button>
                          </td>
                      </tr>
                  </tbody>
              </table>

              <div class="text-center border border-success pt-3 pb-2 rounded text-success"
                  *ngIf="turnoSeleccionadoShow == true">
                  <h5>Turno solicitado</h5>
                  <p>{{turnoSeleccionado}}</p>
              </div>
          </div>


            <button class="btn btn-primary w-100 mt-3" (click)="EnviarSolicitud()" *ngIf="cantidadNumeroDiaUltimaSolicitud > 7">
              <i class="fas fa-calendar-check"></i> Generar Cita
            </button>
            <span class="badge badge-pill badge-warning p-2 w-100" *ngIf="cantidadNumeroDiaUltimaSolicitud < 8">Faltan {{8 - cantidadNumeroDiaUltimaSolicitud}} días para solicitar un nuevo turno</span>
          </div>

          <div class="col-lg-8">
            <table class="table table-striped mt-2">
              <thead class="table-primary">
                  <tr>
                      <th scope="col">Fecha solicitud</th>
                      <th scope="col">Turno</th>
                      <th scope="col">Estado</th>
                      <th scope="col">Sucursal</th>
                      <th></th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let x of solicitudesAlmacenadas">
                      <td>{{x.FECHATURNO}}</td>
                      <td>{{x.HORARIO}}</td>
                      <td>
                          <span class="badge badge-warning" *ngIf="x.ESTADO == 'Pendiente'">{{x.ESTADO}}</span>
                          <span class="badge badge-success" *ngIf="x.ESTADO == 'Finalizado'">{{x.ESTADO}}</span>
                      </td>
                      <td>{{x.SUCURSAL}}</td>
                      <td >
                          <button class="btn btn-danger btn-sm" (click)="cancelarSolicitud(x.IDSOLICITUD)" *ngIf="x.ESTADO == 'Pendiente'">
                            <i class="fas fa-window-close"></i> Cancelar
                          </button>
                      </td>
                  </tr>
              </tbody>
          </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



