<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title mb-0">
        <i class="fas fa-random"></i> Transferencias interbancarias
      </h3>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-5">
          <div class="card">
            <div class="card-header">
              <div class="row mb-0">
                <div class="col-lg-7">
                  <h4 class="card-title mb-0">Beneficiarios registrado</h4>
                </div>
                <div class="col-lg-5 text-right">
                  <button class="btn btn-outline-primary btn-sm mb-0" data-toggle="modal"
                    data-target="#modalRegisterBeneficiarioI">
                    <i class="fas fa-user-plus"></i> Agregar
                  </button>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-sm table-bordered">
                  <tbody>
                    <tr *ngFor="let x of beneficiariosIn">
                      <td>{{ x.nick }}</td>
                      <td>{{ x.numeroCuentaBeneficiario }}</td>
                      <td>
                        <button class="btn btn-outline-info btn-sm"
                          (click)="seleccionBenedficiario(x.numeroCuentaBeneficiario,x._id,x.nombre)">
                          <i class="far fa-hand-pointer"></i> Seleccionar
                        </button>
                        <button class="btn btn-danger btn-sm ml-2" (click)="eliminarBeneficiario(x._id)">
                          <i class="far fa-trash-alt"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="card">
            <div class="card-header pb-1 pt-2">
              <div class="row">
                <div class="col-lg-8">
                  <h2 class="card-title pt-1 mb-3">
                    <i class="fas fa-money-check-alt"></i> Realizar transferencias
                  </h2>
                </div>
                <div class="col-lg-4 text-center pt-0 pb-0 border-left">
                  <h5 class="titulo-saldo mb-0">Saldo disponible:</h5>
                  <h2 class="mb-0">${{ cuentaSaldo | number: "1.2" }}</h2>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="container mt-0">
                <label class="mb-1 mt-0" *ngIf="variasCuentas == true">De la cuenta:</label>
                <select class="custom-select mb-3" id="exampleFormControlSelect1" name="secuencialCuenta"
                  [(ngModel)]="secuencialCuenta" (click)="selecciondeCuenta()" *ngIf="variasCuentas == true">
                  <option *ngFor="let cuenta of cuentasAhorros" value="{{cuenta.secuencial}}">
                    {{cuenta.tipo}} - ${{ cuenta.cuentaSaldo | number: "1.2" }}
                  </option>
                </select>
                <div class="row">
                  <div class="col-lg-6">
                    <label class="mb-1 mt-2">Monto:</label>
                    <input type="text" class="form-control montotxt text-center" placeholder="0.00" name="monto"
                      #monto="ngModel" [(ngModel)]="transferencia.monto" (paste)="$event.preventDefault()"
                      (ngModelChange)="verificarSaldo(); mascara(this,cpf)" />
                    <div class="border border-danger mt-1 p-2 rounded text-danger" *ngIf="saldoInsuficiente">
                      ¡Saldo insuficiente!. Debe quedar al menos 5 dólares en su cuenta.
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <label class="mb-1 mt-2">Beneficiario:</label>
                    <input type="text" class="form-control form-control-lg text-center text-primary" name="beneficiario"
                      value="{{ benefSelecNombre }}" ng-required="true" readonly />
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-12">
                    <br>
                    <label class="mb-0">Comentario:</label>
                    <textarea class="form-control" name="comentario" #comentario="ngModel"
                      [(ngModel)]="transferencia.detalle" required></textarea>
                  </div>
                </div>

                <div class="text-right mt-4">
                  <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#transferenciaModalInt"
                    [disabled]="
                      benefSelecNombre == '' ||
                      transferencia.monto == null ||
                      transferencia.monto == 0 ||
                      comentario.invalid || saldoInsuficiente
                    " (click)="solicitarCodigo()">
                    <i class="fas fa-check-double"></i> Realizar transferencia
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Registrar Beneficiario-->
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="modalRegisterBeneficiarioI" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <i class="fas fa-user-plus"></i> Agregar beneficiario
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <form #formBeneficiarioI="ngForm" id="formBeneficiarioI">
            <div class="row mb-3">
              <div class="col-lg-6 pb-2">
                <label class="mb-0">Nombre</label>
                <input type="email" class="form-control" name="nombre" #nombre="ngModel"
                  [(ngModel)]="beneficiarioIn.nombre" required />
                <div class="err-input rounded" *ngIf="nombre.invalid && nombre.touched">
                  Campo inválido!!
                </div>
              </div>
              <div class="col-lg-6 pb-2">
                <label class="mb-0">Email</label>
                <input type="email" class="form-control" name="email" #email="ngModel"
                  [(ngModel)]="beneficiarioIn.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required />
                <div class="err-input rounded" *ngIf="email.invalid && email.touched">
                  Campo inválido!!
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="mb-0">Tipo documento</label>
                  <select class="custom-select" name="tipodic" #tipodoc="ngModel"
                    [(ngModel)]="beneficiarioIn.tipoIdentificacion" required>
                    <option [value]="01">CÉDULA</option>
                    <option [value]="02">RUC</option>
                    <option [value]="03">PASAPORTE</option>
                  </select>
                  <div class="err-input rounded" *ngIf="tipodoc.invalid && tipodoc.touched">
                    Campo inválido!!
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <label class="mb-0">Cédula/pasaporte/RUC</label>
                <input type="email" class="form-control" name="cedula" #cedula="ngModel"
                  [(ngModel)]="beneficiarioIn.identificacion" maxlength="13" (ngModelChange)="validarDocumentos()"
                  required />
                <div class="err-input rounded" *ngIf="cedula.invalid && cedula.touched">
                  Campo inválido!!
                </div>
                <div class="err-input rounded" *ngIf="!cedulaEstado">
                  Cédula Inválida
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-lg-6">
                <label class="mb-0">Nick</label>
                <input type="text" class="form-control" name="nick" #nick="ngModel" [(ngModel)]="beneficiarioIn.nick"
                  required />
                <div class="err-input rounded" *ngIf="nick.invalid && nick.touched">
                  Campo inválido!!
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="mb-0">Concepto</label>
                  <select class="custom-select" name="conceptop" #concepto="ngModel"
                    [(ngModel)]="beneficiarioIn.codigoConceptoTransferencia" required>
                    <option *ngFor="let con of conceptos" [value]="con.codigo">
                      {{ con.nombre }}
                    </option>
                  </select>
                  <div class="err-input rounded" *ngIf="concepto.invalid && concepto.touched">
                    Campo inválido!!
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6 pb-2">
                <div class="form-group">
                  <label class="mb-0">Tipo de cuenta</label>
                  <select class="custom-select" name="tipocuenta" #tipocuenta="ngModel"
                    [(ngModel)]="beneficiarioIn.codigoTipoCuentaTransferencia" required>
                    <option *ngFor="let tc of tipoCuentas" [value]="tc.codigo">
                      {{ tc.nombre }}
                    </option>
                  </select>
                  <div class="err-input rounded" *ngIf="tipocuenta.invalid && tipocuenta.touched">
                    Campo inválido!!
                  </div>
                </div>
              </div>
              <div class="col-lg-6 pb-2">
                <label class="mb-0">Número de cuenta</label>
                <input type="email" class="form-control" name="numcuenta" #numcuenta="ngModel"
                  [(ngModel)]="beneficiarioIn.numeroCuentaBeneficiario" maxlength="13" required />
                <div class="err-input rounded" *ngIf="numcuenta.invalid && numcuenta.touched">
                  Campo inválido!!
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="mb-0">Tipo institución</label>
                  <select class="custom-select" name="tipoInstitucio" [(ngModel)]="tipoI" (change)="getInstituciones()"
                    required>
                    <option *ngFor="let ti of tipoInstitucion" [value]="ti.codigo">
                      {{ ti.nombre }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="mb-0">Instituciones</label>
                  <select class="custom-select" name="secuencial" #secuencial="ngModel" [(ngModel)]="
                      beneficiarioIn.secuencialInstitucionTransferencia
                    " required>
                    <option *ngFor="let i of instituciones" [value]="i.codigo">
                      {{ i.nombre }}
                    </option>
                  </select>
                  <div class="err-input rounded" *ngIf="secuencial.invalid && secuencial.touched">
                    Campo inválido!!
                  </div>
                </div>
              </div>
            </div>
            <hr />
            <div class="row" [hidden]="formBeneficiarioI.invalid">
              <div class="col-lg-12">
                <button class="btn btn-primary" (click)="solicitarCodigo()">
                  <i class="far fa-envelope"></i> Enviar codigo de verificación
                </button>
                <hr />
                <app-form-verificacion (codigo)="newCodigo($event)" *ngIf="codigoEnviado"></app-form-verificacion>
              </div>
              <div class="col-lg-12">
                <div class="alert alert-light mt-2" role="alert" *ngIf="codigoEnviado">
                  <h4 class="alert-heading" style="color: black">
                    SMS enviado!
                  </h4>

                  <p style="color: black">
                    En pocos minutos te llegara un mensaje de texto al número
                    registrado en nuestro sistema.
                  </p>
                  <hr />
                  <p class="mb-0" style="color: rgb(22, 22, 22);">
                    Si no tienes el mismo número por favor acércate a nuestras
                    oficinas y actualiza tus datos para que puedas usar esté
                    servicio.
                  </p>
                </div>
              </div>
            </div>
            <div class="text-right">
              <button class="btn btn-primary" [disabled]="
                  formBeneficiarioI.invalid || !codigoCorrecto || !cedulaEstado
                " (click)="agregarVeneficiario()">
                <i class="far fa-save"></i> Registrar
              </button>
            </div>
          </form>
          <br />
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Confirmación de transferencia-->
<div class="modal fade" id="transferenciaModalInt" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <i class="fas fa-random"></i> Transferencia
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="text-center">
            <h1>Confirmación de transferencia</h1>
          </div>
          <h2 class="mb-0">Beneficiario:</h2>
          <div class="text-center">
            <h3 class="mb-1">{{ benefSelecNombre }}</h3>
            <h3>{{ benefSelecNumero }}</h3>
          </div>
          <h2 class="mb-0">Monto:</h2>
          <div class="row justify-content-center">
            <div class="col-lg-4">
              <div class="text-center">
                <div class="card pt-3">
                  <h1>$ {{ transferencia.monto }}</h1>
                </div>
              </div>
            </div>
          </div>
          <hr />
          <app-form-verificacion-tra (codigo)="newCodigo2($event)" *ngIf="codigoEnviado">
          </app-form-verificacion-tra>
          <div class="err-input rounded pl-2 pt-2 pb-1" *ngIf="codigoIncorrecto">
            Este código es inválido!!
          </div>

          <hr />
          <div class="text-right">
            <button class="btn btn-danger" (click)="closeModalTranferInt()">
              Cancelar
            </button>
            <button class="btn btn-primary ml-2" [disabled]="!codigoCorrecto || codigoVerificacion == ''"
              (click)="realizarTransferenciaInt()">
              Confirmar
            </button>
            <br>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal comprobante -->
<div class="modal fade" id="modalComprobanteInt" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body">
        <br />
        <div class="p-2" id="comprobanteTransferenciaInterban">
          <div style="text-align: center">
            <img src="../../../assets/images/logo-flm.png" class="w-50" />
          </div>
          <div class="text-center mt-2">
            <h3>Comprobante de transferencia</h3>
          </div>
          <table class="table table-sm">
            <tbody>
              <tr>
                <td><b>Estimado/a:</b> {{ nombrePropietario }}</td>
                <td class="text-right"></td>
              </tr>
              <tr>
                <td>Has realizado una transferencia de:</td>
                <td class="text-right">${{ transferencia.monto }}</td>
              </tr>
              <tr>
                <td>Documento:</td>
                <td class="text-right">{{ numeroDocumentoRecibido }}</td>
              </tr>
              <tr>
                <td>Documento de comisión:</td>
                <td class="text-right">{{ documentoComision }}</td>
              </tr>
              <tr>
                <td>Fecha:</td>
                <td class="text-right">
                  {{ fecha }} {{ hora }}
                </td>
              </tr>
              <tr>
                <td>De la cuenta:</td>
                <td class="text-right">
                  {{ cuentaNumero | slice: 0:3 }}XXXXXX{{
                  cuentaNumero | slice: 9:12
                  }}
                </td>
              </tr>
              <tr>
                <td>A la cuenta:</td>
                <td class="text-right">{{ benefSelecNumero }}</td>
              </tr>
              <tr>
                <td>Beneficiario:</td>
                <td class="text-right">{{ benefSelecNombre }}</td>
              </tr>
              <tr>
                <td>Concepto de transferencia:</td>
                <td class="text-right">{{ conceptopTransferencia }}</td>
              </tr>
              <tr>
                <td>Institución destino:</td>
                <td class="text-right">{{ institucionDestino }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="closeModalComprobante()">
          <i class="far fa-window-close"></i> Cerrar
        </button>
        <button type="button" class="btn btn-primary" (click)="descargarComprobante()">
          <i class="fas fa-print"></i> Imprimir
        </button>
      </div>
    </div>
  </div>
</div>
