<!-- .app-footer ->
<footer class="auth-footer">
  <ul class="list-inline">
    <li class="list-inline-item">
      <a class="text-muted" href="#">Soporte</a>
    </li>
    <li class="list-inline-item">
      <a class="text-muted" href="#">Terminos del servicio</a>
    </li>
  </ul>
  <div class="copyright">© {{ anio }} By TIC COAC Futuro Lamanense.</div>
</footer>
<-- /.app-footer -->
<footer class="auth-footer">
  <div class="copyright">© {{ anio }} By TIC COAC Futuro Lamanense.</div>
</footer>
